---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order type=entries_layout %}
</div>


<!-- When there is an incomplete row of projects, uncomment out the line below to fix the spacing issue -->
<!-- <br><br><br><br><br><br><br><br> -->


<!-- Comment out everything below when there are no projects in progress -->
<!-- <br><br><br><br><br><br><br><br>
<h2 style="text-align:left;">Projects In Progress</h2>
<hr>

<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html collection=page.collection1 sort_by=page.sort_by sort_order=page.sort_order type=entries_layout %}
</div> -->